USE [flower_shop1]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupon_usage]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupon_usage](
	[usage_id] [int] IDENTITY(1,1) NOT NULL,
	[coupon_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[used_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[usage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[coupon_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[discount_percent] [int] NOT NULL,
	[expiry_date] [date] NULL,
	[status] [bit] NULL,
	[min_order_value] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[total_price] [decimal](10, 2) NULL,
	[status] [nvarchar](50) NULL,
	[order_date] [datetime] NULL,
	[sender_name] [nvarchar](255) NULL,
	[sender_phone] [varchar](20) NULL,
	[sender_email] [varchar](255) NULL,
	[receiver_name] [nvarchar](255) NULL,
	[receiver_phone] [varchar](20) NULL,
	[receiver_address] [nvarchar](500) NULL,
	[receiver_city] [nvarchar](150) NULL,
	[receiver_district] [nvarchar](150) NULL,
	[delivery_date] [varchar](50) NULL,
	[delivery_time] [nvarchar](100) NULL,
	[card_message] [nvarchar](1000) NULL,
	[vat_amount] [decimal](18, 2) NULL,
	[special_requests] [nvarchar](1000) NULL,
	[payment_method] [nvarchar](100) NULL,
	[coupon_code] [varchar](50) NULL,
	[discount_amount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock] [int] NULL,
	[image] [varchar](255) NULL,
	[category_id] [int] NULL,
	[created_at] [datetime] NULL,
	[discount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[review_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] NOT NULL,
	[role_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[support_messages]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[support_messages](
	[msg_id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NOT NULL,
	[client_email] [varchar](100) NULL,
	[sender_role] [varchar](20) NULL,
	[message_text] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[msg_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/21/2026 8:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[security_question] [nvarchar](255) NULL,
	[security_answer] [nvarchar](255) NULL,
	[role_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([cart_id], [user_id]) VALUES (2, 1)
INSERT [dbo].[cart] ([cart_id], [user_id]) VALUES (3, 2)
INSERT [dbo].[cart] ([cart_id], [user_id]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[cart_items] ON 

INSERT [dbo].[cart_items] ([cart_item_id], [cart_id], [product_id], [quantity]) VALUES (20, 2, 1, 4)
SET IDENTITY_INSERT [dbo].[cart_items] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (1, N'Hoa Sinh Nhật')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (2, N'Hoa Tình Yêu')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (3, N'Hoa Đám Cưới')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[coupon_usage] ON 

INSERT [dbo].[coupon_usage] ([usage_id], [coupon_id], [user_id], [order_id], [used_at]) VALUES (1, 2, 6, 66, CAST(N'2026-05-21T09:30:53.247' AS DateTime))
INSERT [dbo].[coupon_usage] ([usage_id], [coupon_id], [user_id], [order_id], [used_at]) VALUES (2, 1, 6, 66, CAST(N'2026-05-21T09:30:53.427' AS DateTime))
INSERT [dbo].[coupon_usage] ([usage_id], [coupon_id], [user_id], [order_id], [used_at]) VALUES (3, 2, 3, 67, CAST(N'2026-05-21T09:38:39.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[coupon_usage] OFF
GO
SET IDENTITY_INSERT [dbo].[coupons] ON 

INSERT [dbo].[coupons] ([coupon_id], [code], [discount_percent], [expiry_date], [status], [min_order_value]) VALUES (1, N'BAHOA10', 10, CAST(N'2026-12-31' AS Date), 1, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[coupons] ([coupon_id], [code], [discount_percent], [expiry_date], [status], [min_order_value]) VALUES (2, N'FLOWER30', 30, CAST(N'2026-12-31' AS Date), 1, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[coupons] ([coupon_id], [code], [discount_percent], [expiry_date], [status], [min_order_value]) VALUES (3, N'VIP3M-63629', 10, NULL, 1, CAST(1.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([detail_id], [order_id], [product_id], [quantity], [price]) VALUES (1, 2, 2, 1, CAST(342000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_details] ([detail_id], [order_id], [product_id], [quantity], [price]) VALUES (2, 2, 6, 1, CAST(854400.00 AS Decimal(10, 2)))
INSERT [dbo].[order_details] ([detail_id], [order_id], [product_id], [quantity], [price]) VALUES (3, 3, 6, 1, CAST(854400.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [product_name], [description], [price], [stock], [image], [category_id], [created_at], [discount]) VALUES (1, N'Hoa Hồng Siêu Đẹp', N'Hoa rất đẹp và đỏ', CAST(500000.00 AS Decimal(10, 2)), 45, N'hoa.png', 2, CAST(N'2026-05-17T13:29:56.650' AS DateTime), 0)
INSERT [dbo].[products] ([product_id], [product_name], [description], [price], [stock], [image], [category_id], [created_at], [discount]) VALUES (2, N'Hoa Hồng Trắng Nhạt', N'Rất Trắng', CAST(360000.00 AS Decimal(10, 2)), 39, N'hoa1.jpg', 2, CAST(N'2026-05-17T13:29:56.650' AS DateTime), 5)
INSERT [dbo].[products] ([product_id], [product_name], [description], [price], [stock], [image], [category_id], [created_at], [discount]) VALUES (3, N'Hoa Sang Chảnh', N'Chảnh', CAST(670000.00 AS Decimal(10, 2)), 8, N'hoa2.jpg', 1, CAST(N'2026-05-17T13:29:56.650' AS DateTime), 10)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([review_id], [user_id], [product_id], [rating], [comment], [review_date]) VALUES (1, 2, 1, 5, N'Very beautiful flowers', CAST(N'2026-05-17T13:29:56.663' AS DateTime))
INSERT [dbo].[reviews] ([review_id], [user_id], [product_id], [rating], [comment], [review_date]) VALUES (2, 3, 8, 5, N'Hoa quá đẹp luôn á shop', CAST(N'2026-05-18T19:37:02.133' AS DateTime))
INSERT [dbo].[reviews] ([review_id], [user_id], [product_id], [rating], [comment], [review_date]) VALUES (3, 3, 8, 5, N'Hoa quá đẹp luôn á shop', CAST(N'2026-05-18T22:24:19.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (1, N'ADMIN')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (2, N'USER')
GO
SET IDENTITY_INSERT [dbo].[support_messages] ON 

INSERT [dbo].[support_messages] ([msg_id], [client_id], [client_email], [sender_role], [message_text], [created_at], [is_read]) VALUES (1, 3, N'hoan@gmail.com', N'client', N'hi', CAST(N'2026-05-17T21:28:26.993' AS DateTime), NULL)
INSERT [dbo].[support_messages] ([msg_id], [client_id], [client_email], [sender_role], [message_text], [created_at], [is_read]) VALUES (2, 3, N'hoan@gmail.com', N'admin', N'chào', CAST(N'2026-05-17T21:39:27.003' AS DateTime), NULL)
INSERT [dbo].[support_messages] ([msg_id], [client_id], [client_email], [sender_role], [message_text], [created_at], [is_read]) VALUES (3, 3, N'hoan@gmail.com', N'client', N'hi', CAST(N'2026-05-17T21:54:14.817' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[support_messages] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [fullname], [email], [password], [phone], [address], [security_question], [security_answer], [role_id], [created_at]) VALUES (1, N'Admin', N'admin@gmail.com', N'123456', N'0123456789', N'Ha Noi', N'Loài hoa bạn yêu thích nhất là gì?', N'Hoa hồng', 1, CAST(N'2026-05-17T13:29:56.643' AS DateTime))
INSERT [dbo].[users] ([user_id], [fullname], [email], [password], [phone], [address], [security_question], [security_answer], [role_id], [created_at]) VALUES (2, N'Long Vu', N'long@gmail.com', N'123456', N'0988888888', N'Ho Chi Minh', N'Loài hoa bạn yêu thích nhất là gì?', N'Hoa hồng', 2, CAST(N'2026-05-17T13:29:56.660' AS DateTime))
INSERT [dbo].[users] ([user_id], [fullname], [email], [password], [phone], [address], [security_question], [security_answer], [role_id], [created_at]) VALUES (3, N'Đỗ Sỹ Hoàn', N'hoan@gmail.com', N'12345', N'0900000029', N'Phúc Thọ', N'Tên thú cưng đầu tiên của bạn là gì?', N'Chó', 2, CAST(N'2026-05-17T13:31:03.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ__cart__B9BE370EA2D3F234]    Script Date: 5/21/2026 8:26:53 PM ******/
ALTER TABLE [dbo].[cart] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__cart__B9BE370EE2825591]    Script Date: 5/21/2026 8:26:53 PM ******/
ALTER TABLE [dbo].[cart] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__coupons__357D4CF96D730B05]    Script Date: 5/21/2026 8:26:53 PM ******/
ALTER TABLE [dbo].[coupons] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__coupons__357D4CF9ADABDAB2]    Script Date: 5/21/2026 8:26:53 PM ******/
ALTER TABLE [dbo].[coupons] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61646AD066DD]    Script Date: 5/21/2026 8:26:53 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61648D76A494]    Script Date: 5/21/2026 8:26:53 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[coupon_usage] ADD  DEFAULT (getdate()) FOR [used_at]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'Pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [review_date]
GO
ALTER TABLE [dbo].[support_messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[support_messages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((2)) FOR [role_id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([cart_id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([cart_id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[coupon_usage]  WITH CHECK ADD FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([coupon_id])
GO
ALTER TABLE [dbo].[coupon_usage]  WITH CHECK ADD FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([coupon_id])
GO
ALTER TABLE [dbo].[coupon_usage]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[coupon_usage]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[coupon_usage]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[coupon_usage]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
